In [216]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [217]:
electoral_df = pd.read_csv ('Resources/Electoral_College.csv')
electoral_df

      Year    State  Votes Party Unnamed: 4
0     1788  Alabama    NaN   NaN        NaN
1     1792  Alabama    NaN   NaN        NaN
2     1796  Alabama    NaN   NaN        NaN
3     1800  Alabama    NaN   NaN        NaN
4     1804  Alabama    NaN   NaN        NaN
...    ...      ...    ...   ...        ...
3004  2004  Wyoming    3.0     R        NaN
3005  2008  Wyoming    3.0     R        NaN
3006  2012  Wyoming    3.0     R        NaN
3007  2016  Wyoming    3.0     R        NaN
3008  2020  Wyoming    3.0     R        NaN

[3009 rows x 5 columns]

In [218]:
electoral_clean= electoral_df.drop(['Unnamed: 4'], axis = 1)
electoral_clean= pd.DataFrame(electoral_clean, columns= ['Year', 'State', 'Party', 'Votes'])
electoral_clean

      Year    State Party  Votes
0     1788  Alabama   NaN    NaN
1     1792  Alabama   NaN    NaN
2     1796  Alabama   NaN    NaN
3     1800  Alabama   NaN    NaN
4     1804  Alabama   NaN    NaN
...    ...      ...   ...    ...
3004  2004  Wyoming     R    3.0
3005  2008  Wyoming     R    3.0
3006  2012  Wyoming     R    3.0
3007  2016  Wyoming     R    3.0
3008  2020  Wyoming     R    3.0

[3009 rows x 4 columns]

In [219]:
earlyus=electoral_clean[electoral_clean['Year'].isin(['1788', '1792', '1794', '1796', '1800', '1804', '1808', '1812',
                                                     '1816', '1820', '1824',])]

#earlyus.apply(pd.to_numeric, errors='coerce')
#earlyus_clean = earlyus.dropna()

earlyus_clean=earlyus_clean.sort_values(by=['Year'])

earlyus_clean



#Federalist= earlyus_clean[earlyus_clean['Party'].isin(['F'])]

#Federalist

      Year           State Party
1770  1788      New Jersey     F
1711  1788   New Hampshire     F
590   1788         Georgia     F
2242  1788    Pennsylvania     F
2360  1788  South Carolina     F
...    ...             ...   ...
2310  1824    Rhode Island    DR
481   1824        Delaware    DR
2369  1824  South Carolina    DR
1484  1824        Missouri    DR
2723  1824        Virginia    DR

[178 rows x 3 columns]

In [220]:
electoral_clean= electoral_df.drop(['Unnamed: 4'], axis = 1)
electoral_clean.set_index(DWDATA.index)
electoral_clean= pd.DataFrame(electoral_clean, columns= ['Year', 'State', 'Party', 'Votes', 'Percentage'])
electoral_clean['Percentage'] = (electoral_clean['Votes'] / 20) * 100

In [221]:
electoral_clean.dtypes

Year            int64
State          object
Party          object
Votes         float64
Percentage    float64
dtype: object

In [227]:
electoral_clean.groupby(['Year'])['Votes'].sum() * 100

Year
1788     8100.0
1792    13500.0
1796    13800.0
1800    13800.0
1804    17600.0
1808    17600.0
1812    21800.0
1816    22100.0
1820    23500.0
1824    26100.0
1828    26100.0
1832    28800.0
1836    29400.0
1840    29400.0
1844    27500.0
1848    29000.0
1852    29600.0
1856    29600.0
1860    30300.0
1864    23400.0
1868    29400.0
1872    36600.0
1876    36900.0
1880    36900.0
1884    40100.0
1888    40100.0
1892    44400.0
1896    44700.0
1900    44700.0
1904    47600.0
1908    48300.0
1912    53100.0
1916    53100.0
1920    53100.0
1924    53100.0
1928    53100.0
1932    53100.0
1936    53100.0
1940    53100.0
1944    53100.0
1948    53100.0
1952    53100.0
1956    53100.0
1960    53700.0
1964    53800.0
1968    53800.0
1972    53800.0
1976    53800.0
1980    53800.0
1984    53800.0
1988    53800.0
1992    53800.0
1996    53800.0
2000    53800.0
2004    53800.0
2008    53800.0
2012    53800.0
2016    53800.0
2020    53800.0
Name: Votes, dtype: float64

In [225]:
electoral_clean= electoral_df.drop(['Unnamed: 4'], axis = 1)
electoral_clean= pd.DataFrame(electoral_clean, columns= ['Year', 'State', 'Party', 'Votes', 'Percentage'])
electoral_clean['Percentage'] = (electoral_clean['Votes'] / electoral_clean.groupby(['Year'])['Votes'].sum()) * 100
electoral_clean

      Year    State Party  Votes  Percentage
0     1788  Alabama   NaN    NaN         NaN
1     1792  Alabama   NaN    NaN         NaN
2     1796  Alabama   NaN    NaN         NaN
3     1800  Alabama   NaN    NaN         NaN
4     1804  Alabama   NaN    NaN         NaN
...    ...      ...   ...    ...         ...
3004  2004  Wyoming     R    3.0         NaN
3005  2008  Wyoming     R    3.0         NaN
3006  2012  Wyoming     R    3.0         NaN
3007  2016  Wyoming     R    3.0         NaN
3008  2020  Wyoming     R    3.0         NaN

[3009 rows x 5 columns]

In [223]:
#Year= earlyus_clean.groupby(['Year']).groups.keys()
#print(Year)

#Fed = earlyus_clean[earlyus_clean["Party"].isin(["F"])]
#DemRep = earlyus_clean[earlyus_clean["Party"].isin(["DR"])]
#index = ['Year', 'State']

In [224]:
earlyus_clean.groupby(['Year', 'Party']).count()

            State
Year Party
1788 F         12
1792 DR         1
     F         14
1796 DR         7
     F          9
1800 DR         9
     F          7
1804 DR        15
     F          2
1808 DR        12
     F          5
1812 DR        11
     F          7
1816 DR        16
     F          3
1820 DR        24
1824 D          1
     DR        23

In [70]:
#Connecticut= electoral_clean.loc[electoral_clean['State'] == 'Connecticut',]
#Delaware= electoral_clean.loc[electoral_clean['State'] == 'Delaware',]
#Georgia= electoral_clean.loc[electoral_clean['State'] == 'Georgia',]
#Maryland= electoral_clean.loc[electoral_clean['State'] == 'Maryland',]
#Massachusetts= electoral_clean.loc[electoral_clean['State'] == 'Massachusetts',]
#Maine= electoral_clean.loc[electoral_clean['State'] == 'Maine',]
#New_Jersey= electoral_clean.loc[electoral_clean['State'] == 'New Jersey',]
#New_York= electoral_clean.loc[electoral_clean['State'] == 'New York',]
#New_Hampshire= electoral_clean.loc[electoral_clean['State'] == 'New Hampshire',]
#North_Carolina= electoral_clean.loc[electoral_clean['State'] == 'North Carolina',]
#Pennsylvania= electoral_clean.loc[electoral_clean['State'] == 'Pennsylvania',]
#Rhode_Island= electoral_clean.loc[electoral_clean['State'] == 'Rhode Island',]
#South_Carolina= electoral_clean.loc[electoral_clean['State'] == 'South Carolina',]
#Virginia= electoral_clean.loc[electoral_clean['State'] == 'Virginia',]