In [67]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

In [68]:
electoral_df = pd.read_csv ('Resources/Electoral_College.csv')
electoral_df

      Year    State  Votes Party Unnamed: 4
0     1788  Alabama    NaN   NaN        NaN
1     1792  Alabama    NaN   NaN        NaN
2     1796  Alabama    NaN   NaN        NaN
3     1800  Alabama    NaN   NaN        NaN
4     1804  Alabama    NaN   NaN        NaN
...    ...      ...    ...   ...        ...
3004  2004  Wyoming    3.0     R        NaN
3005  2008  Wyoming    3.0     R        NaN
3006  2012  Wyoming    3.0     R        NaN
3007  2016  Wyoming    3.0     R        NaN
3008  2020  Wyoming    3.0     R        NaN

[3009 rows x 5 columns]

In [112]:
electoral_clean= electoral_df.drop(['Unnamed: 4'], axis = 1)
electoral_clean= pd.DataFrame(electoral_clean, columns= ['Year', 'State', 'Party'])
thirteen= electoral_clean[electoral_clean['State'].isin(['Connecticut', 'Delaware', 'Georgia', 'Maine', 'Maryland', 'Massachusetts', 'New_Hampshire', 'New Jersey', 'New York,'
                                                         'Pennsylvania', 'North Carolina', 'Rhode Island', 'South Carolina', 'Virginia',])]
thirteen

      Year        State Party
354   1788  Connecticut     F
355   1792  Connecticut     F
356   1796  Connecticut     F
357   1800  Connecticut     F
358   1804  Connecticut     F
...    ...          ...   ...
2768  2004     Virginia     R
2769  2008     Virginia     D
2770  2012     Virginia     D
2771  2016     Virginia     D
2772  2020     Virginia     D

[649 rows x 3 columns]

In [121]:
thirteen_1788= thirteen[thirteen['Year'].isin(['1788',])] 

thirteen_1788

      Year           State Party
354   1788     Connecticut     F
472   1788        Delaware     F
590   1788         Georgia     F
1121  1788           Maine   NaN
1180  1788        Maryland     F
1239  1788   Massachusetts     F
1770  1788      New Jersey     F
1947  1788  North Carolina     F
2301  1788    Rhode Island   NaN
2360  1788  South Carolina     F
2714  1788        Virginia     F

In [101]:
Connecticut= electoral_clean.loc[electoral_clean['State'] == 'Connecticut',]
Delaware= electoral_clean.loc[electoral_clean['State'] == 'Delaware',]
Georgia= electoral_clean.loc[electoral_clean['State'] == 'Georgia',]
Maryland= electoral_clean.loc[electoral_clean['State'] == 'Maryland',]
Massachusetts= electoral_clean.loc[electoral_clean['State'] == 'Massachusetts',]
Maine= electoral_clean.loc[electoral_clean['State'] == 'Maine',]
New_Jersey= electoral_clean.loc[electoral_clean['State'] == 'New Jersey',]
New_York= electoral_clean.loc[electoral_clean['State'] == 'New York',]
New_Hampshire= electoral_clean.loc[electoral_clean['State'] == 'New Hampshire',]
North_Carolina= electoral_clean.loc[electoral_clean['State'] == 'North Carolina',]
Pennsylvania= electoral_clean.loc[electoral_clean['State'] == 'Pennsylvania',]

      Year          State  Votes Party
1711  1788  New Hampshire    5.0     F
1712  1792  New Hampshire    6.0     F
1713  1796  New Hampshire    6.0     F
1714  1800  New Hampshire    6.0     F
1715  1804  New Hampshire    7.0    DR
1716  1808  New Hampshire    7.0     F
1717  1812  New Hampshire    8.0     F
1718  1816  New Hampshire    8.0    DR
1719  1820  New Hampshire    8.0    DR
1720  1824  New Hampshire    8.0    DR
1721  1828  New Hampshire    8.0     R
1722  1832  New Hampshire    7.0     D
1723  1836  New Hampshire    7.0     D
1724  1840  New Hampshire    7.0     D
1725  1844  New Hampshire    6.0     D
1726  1848  New Hampshire    6.0     D
1727  1852  New Hampshire    5.0     D
1728  1856  New Hampshire    5.0     R
1729  1860  New Hampshire    5.0     R
1730  1864  New Hampshire    5.0     R
1731  1868  New Hampshire    5.0     R
1732  1872  New Hampshire    5.0     R
1733  1876  New Hampshire    5.0     R
1734  1880  New Hampshire    5.0     R
1735  1884  New Hampshire    4.0     R
1736  1888  New Hampshire    4.0     R
1737  1892  New Hampshire    4.0     R
1738  1896  New Hampshire    4.0     R
1739  1900  New Hampshire    4.0     R
1740  1904  New Hampshire    4.0     R
1741  1908  New Hampshire    4.0     R
1742  1912  New Hampshire    4.0     D
1743  1916  New Hampshire    4.0     D
1744  1920  New Hampshire    4.0     R
1745  1924  New Hampshire    4.0     R
1746  1928  New Hampshire    4.0     R
1747  1932  New Hampshire    4.0     R
1748  1936  New Hampshire    4.0     D
1749  1940  New Hampshire    4.0     D
1750  1944  New Hampshire    4.0     D
1751  1948  New Hampshire    4.0     R
1752  1952  New Hampshire    4.0     R
1753  1956  New Hampshire    4.0     R
1754  1960  New Hampshire    4.0     R
1755  1964  New Hampshire    4.0     D
1756  1968  New Hampshire    4.0     R
1757  1972  New Hampshire    4.0     R
1758  1976  New Hampshire    4.0     R
1759  1980  New Hampshire    4.0     R
1760  1984  New Hampshire    4.0     R
1761  1988  New Hampshire    4.0     R
1762  1992  New Hampshire    4.0     D
1763  1996  New Hampshire    4.0     D
1764  2000  New Hampshire    4.0     R
1765  2004  New Hampshire    4.0     D
1766  2008  New Hampshire    4.0     D
1767  2012  New Hampshire    4.0     D
1768  2016  New Hampshire    4.0     D
1769  2020  New Hampshire    4.0     D